<div class="row">
  <div class="col-4">
    <form>
      {{> section-title title="Add A Bodacious Burger"}}
      <div class="form-group">
        <input class="form-control" type="text" id="burger-input" placeholder="Create your burger here"/>
        <button class="mt-1 btn btn-block btn-success" id="submit-btn">Add Burger</button>
      </div>
    </form>
  </div>
  <div class="col-4">
    {{> section-title title="Burgers that I Dream to Someday Eat"}}
    <ul class="list-group">
    {{#each burgerList}}
      {{#unless devoured}}
        {{> burgers/burger status="Not devoured"}}
      {{/unless}}
    {{/each}}
    </ul>
  </div>
  <div class="col-4">
    {{> section-title title="Devoured Burgers"}}
    <ul class="list-group">
      {{#each burgerList}}
        {{#if devoured}}
          {{> burgers/burger status="Devoured"}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>