<div class="row">
  <div class="col-4">
    <form>
      {{> section-title title="Add A Todo"}}
      <div class="form-group">
        <input class="form-control" type="text" id="todo-input" placeholder="Create your todo here"/>
        <button class="mt-1 btn btn-block btn-success" id="submit-btn">Add Todo</button>
      </div>
    </form>
  </div>
  <div class="col-4">
    {{> section-title title="Todos that are still todo"}}
    <ul class="list-group">
    {{#each todoList}}
      {{#unless completed}}
        {{> todos/todo status="Not completed"}}
      {{/unless}}
    {{/each}}
    </ul>
  </div>
  <div class="col-4">
    {{> section-title title="Completed Todos"}}
    <ul class="list-group">
      {{#each todoList}}
        {{#if completed}}
          {{> todos/todo status="Completed"}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>